
<mat-card><mat-card-title style="text-align: center;">{{title}}</mat-card-title></mat-card>
<br>

<div class="filter">
    <mat-form-field class="inputfilter">
      <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
  </div>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
    
    @for (column of gridColumns; track column) {
        @if (column['type'] == undefined) {  
            <!-- Any Column -->
            <ng-container matColumnDef="{{column['column']}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{column['name'] }} </mat-header-cell>
                <mat-cell  *matCellDef="let record"> {{record[column['column']]}} </mat-cell>
            </ng-container>
        } 
        @else if (column['type'] == 'date'){ 
            <!-- Date Column -->
            <ng-container matColumnDef="{{column['column']}}">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> {{column['name'] }} </mat-header-cell>
                <mat-cell *matCellDef="let record"> {{record[column['column']] | date:'shortDate'}}</mat-cell>
            </ng-container>
        }
        @else if (column['type'] == 'longDescription'){ 
            <!-- Date Column -->
            <ng-container matColumnDef="{{column['column']}}">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> {{column['name'] }} </mat-header-cell>
                <mat-cell *matCellDef="let record" title = "{{record[column['column']]}}"> {{record[column['column']]  | slice:0:30 }}...  </mat-cell>
            </ng-container>
        } @else if(column['type'] == 'selection'){
            <ng-container matColumnDef="selection">
                <mat-header-cell  *matHeaderCellDef > {{column['name'] }} </mat-header-cell>
                <mat-cell *matCellDef="let record"> 
                    <button mat-button (click)="selectedRecord(record['id'])" >
                        <span class="buttonText">select</span>
                    </button>
                </mat-cell>
            </ng-container> 

        } @else if(column['type'] == 'add'){
            <ng-container matColumnDef="add">
                <mat-header-cell  *matHeaderCellDef > {{column['name'] }} </mat-header-cell>
                <mat-cell *matCellDef="let record" > 
                    <button mat-button (click)="selectedRecord(record['id'])" >
                        <span class="buttonText">Add</span>
                    </button>
                </mat-cell>
            </ng-container> 

        }
    }

    
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" >No data</td>
    </tr>
        
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
        <mat-paginator #paginator
                    [pageSize]="3"
                    [pageSizeOptions]="[3, 6, 12]"
                    [showFirstLastButtons]="true">
        </mat-paginator>
