<table class="table table-bordered">
    <thead>
        <tr  class="table-secondary">
            <td colspan="5"  style="text-align: center;"><b>{{title +' table' | uppercase }}</b></td>
        </tr>  
        <tr  class="table-dark">
            <td *ngFor="let col of gridColumns">
                {{col}}
            </td>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let record of (records)">
            <td>{{record['idElement']}}</td>
            <td>{{record['name']}}</td>
            <td>{{record['creationDate'] | date: 'short'}}</td>
            <td>{{record['comments']}}</td>
            <td (click)="selectedRecord(record)" class="selectCell">
                Select
            </td>
        </tr>
    </tbody>
</table>

