table {
    width: 100%;
  }

.filter {
  display: flex;
  align-items: center;
  justify-content: left;
}
.inputfilter{
  width: 40%;
  height: 60px;
}

.buttonText:hover {
  color: darkcyan;
  font-weight: bold;
}

.buttonText:active{
  color: blue;
}