
<mat-card><mat-card-title style="text-align: center;">{{title}} table</mat-card-title></mat-card>
<br>

<div class="filter">
    <mat-form-field class="inputfilter">
      <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
  </div>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
    
    @for (column of gridColumns; track column) {
        @if (column['type'] == undefined) {  
            <!-- Any Column -->
            <ng-container matColumnDef="{{column['column']}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{column['name'] }} </mat-header-cell>
                <mat-cell  *matCellDef="let record"> {{record[column['column']]}} </mat-cell>
            </ng-container>
        } 
        @else { 
            <!-- Date Column -->
            <ng-container matColumnDef="{{column['column']}}">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> {{column['name'] }} </mat-header-cell>
                <mat-cell *matCellDef="let record"> {{record[column['column']] | date:'shortDate'}} </mat-cell>
            </ng-container>
        }
    }

        <ng-container matColumnDef="selection">
            <mat-header-cell  *matHeaderCellDef > Selection</mat-header-cell>
            <mat-cell *matCellDef="let record"> 
                <button mat-button (click)="selectedRecord(record)">select</button>
            </mat-cell>
        </ng-container>
        

        
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
        <mat-paginator #paginator
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
        </mat-paginator>
