<mat-card class="form-container">
    <mat-card-title class = "cardTitle">Register a new {{title}}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form  grid-container">
            <mat-form-field class="doubleSpan">
              <mat-label>Name</mat-label>
              <input matInput  name="name"  formControlName="name">
              <mat-error *ngIf="name.errors != null && name.errors['pattern']" >Only letters are allowed.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="doubleSpan" >
              <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" #description></textarea>
                <mat-hint align="start">  Description must be between 30 and 300 characerts long. </mat-hint>
                <mat-hint align="end">  {{ description.value.length }} / 60 </mat-hint>
            </mat-form-field> 

            <mat-form-field >
              <mat-label>Instructor</mat-label>
              <input matInput  name="instructor" formControlName="instructor">
              <mat-error *ngIf="name.errors != null && name.errors['pattern']" >Only letters are allowed.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Students</mat-label>
              <input matInput type="number" name="numStudents"  formControlName="numStudents">
            </mat-form-field>

            <mat-form-field>        
                <mat-label>Period</mat-label>        
                <mat-date-range-input [rangePicker]="promoPicker">
                    <input matStartDate placeholder="Start date" formControlName="startDate">        
                    <input matEndDate placeholder="End date" formControlName="endDate">        
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="promoPicker"></mat-datepicker-toggle>        
                <mat-date-range-picker #promoPicker></mat-date-range-picker>
        
            </mat-form-field>
            
      
            <div class="buttonsClass">
                <button mat-raised-button color="primary" type="submit" (click)="submitForm()"
                        [disabled]="!form.valid || flgUpdate">
                  Save
                </button>
                <button mat-raised-button  type="submit" [disabled]="!flgUpdate" (click)="Update()"> Update </button>
                <button mat-raised-button   type="submit" (click)="reset()"> Clean </button>
            </div>
        
        </form>

    </mat-card-content>

</mat-card>


<table-component [title]="title" [grid-colums]="projectColumns" [records]="projectsRecords"(recordEmitter)="projectSelectedRecord($event)" ></table-component>