<mat-card class="form-container">
    <mat-card-title class = "cardTitle">Register a new {{title}}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form  grid-container">
            <mat-form-field class="doubleSpan">
                <mat-label>Name</mat-label>
                <input matInput  name="name"  formControlName="name">
                <mat-error *ngIf="name.errors != null && name.errors['pattern']">Only letters are allowed.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Instructor</mat-label>
                <input matInput  name="instructor"  formControlName="instructor">
                <mat-error *ngIf="name.errors != null && name.errors['pattern']">Only letters are allowed.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hours</mat-label>
              <input matInput type="number" name="hours" formControlName="hours">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Credit Hours</mat-label>
              <input matInput type="number" name="creditHours" formControlName="creditHours">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Students</mat-label>
              <input matInput type="number" name="numStudents" formControlName="numStudents">
            </mat-form-field>
            <div></div>
            
      
            <div class="buttonsClass">
                <button mat-raised-button color="primary" type="submit" (click)="submitForm()"
                        [disabled]="!form.valid || flgUpdate">
                  Save
                </button>
                <button mat-raised-button  type="submit" [disabled]="!flgUpdate" (click)="Update()"> Update </button>
                <button mat-raised-button   type="submit" (click)="reset()"> Clean </button>
            </div>
        </form>
    </mat-card-content>

</mat-card>