.form-container{
    margin: 15px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
  }

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}

.buttonsClass, .doubleSpan{
    grid-column: span 2;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}