<mat-card class="form-container"> 
    <mat-card-title class = "cardTitle">Register a new {{title}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" class="login-form  grid-container">
        <mat-form-field>
          <input matInput  name="name" placeholder="Name" formControlName="name">
          <mat-error *ngIf="name.errors != null && name.errors['pattern']" >Only letters are allowed.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" name="age" placeholder="Age" formControlName="age">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" name="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.errors != null  && email.errors['required']">The email is mandatory.</mat-error>
          <mat-error *ngIf="email.errors != null && email.errors['email']">This is not a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  name="contactNumber" placeholder="Contact Number" formControlName="contactNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select Scholar Year" formControlName="scholarYear">
                <ng-container *ngFor="let year of scholarYearCatalog">
                    <mat-option [value]="year.code">{{year.description}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>    
        <mat-form-field>
            <input matInput [matDatepicker]="releaseDatePicker"
                [min]="minDate" [max]="maxDate" 
                formControlName="birdDate"
                placeholder="Bird Date">
            <mat-datepicker-toggle matSuffix
                    [for]="releaseDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #releaseDatePicker></mat-datepicker>
        </mat-form-field>
        <div></div>
        
  
        <div class="buttonsClass">
            <button mat-raised-button color="primary" type="submit" (click)="submitForm()"
                    [disabled]="!form.valid || flgUpdate">
              Save
            </button>
            <button mat-raised-button   (click)="reset()"> Clear </button>
            <button mat-raised-button  [disabled]="!flgUpdate" (click)="Update()"> Update </button>
        </div>
  
      
      </form>
  
    </mat-card-content>
  </mat-card>
  