<mat-card class="form-container"> 
    <mat-card-title class = "cardTitle">Register a new {{title}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" class="login-form  grid-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput  name="name" formControlName="name">
          <mat-error *ngIf="name.errors != null && name.errors['pattern']" >Only letters are allowed.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" name="age" formControlName="age">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email"  formControlName="email">
          <mat-error *ngIf="email.errors != null  && email.errors['required']">The email is mandatory.</mat-error>
          <mat-error *ngIf="email.errors != null && email.errors['email']">This is not a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <input matInput  name="contactNumber" formControlName="contactNumber">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Scholar Year</mat-label>
            <mat-select formControlName="scholarYear">
                <ng-container *ngFor="let year of scholarYearCatalog">
                    <mat-option [value]="year.code">{{year.description}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Bird Date</mat-label>
            <input matInput [matDatepicker]="releaseDatePicker"
                [min]="minDate" [max]="maxDate" 
                formControlName="birdDate" >
            <mat-datepicker-toggle matSuffix
                    [for]="releaseDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #releaseDatePicker></mat-datepicker>
        </mat-form-field>
        <div></div>
        
  
        <div class="buttonsClass">
            <button mat-raised-button color="primary" type="submit" (click)="submitForm()"
                    [disabled]="!form.valid || flgUpdate">
              Save
            </button>
            <button mat-raised-button  type="submit" [disabled]="!flgUpdate" (click)="Update()"> Update </button>
            <button mat-raised-button   type="submit" (click)="reset()"> Clean </button>
        </div>
  
      
      </form>
  
    </mat-card-content>
  </mat-card>

  <table-component [title]="title" [grid-colums]="studentColumns" [records]="studentsRecords" (recordEmitter)="studentSelectedRecord($event)" ></table-component>
  