<div class="wrapper">
    <div class="firstCol">
            <mat-selection-list  [multiple]="false"  [(ngModel)]="selectedOption" (selectionChange)="selectionChange()">
                @for (course of coursesLst; track course) {
                    <mat-list-option [value]="course.id">{{course.name}}</mat-list-option>
                }
                </mat-selection-list>
    </div>
    <div class="secondCol">
        <h3>Students Added</h3>
            @if(studentAddedLst.length > 0){
                <ul>
                    @for(student  of studentAddedLst; track student){
                        <li> {{student.name}}</li>
                    }   
                </ul>
            }@else {
                <p>No students Added</p>
            }
        <h3>Available Students</h3> 
            @if(availableStudentLst.length > 0){
                <ul>
                    @for(student  of availableStudentLst; track student){
                        <li> {{student.name}}</li>
                    }   
                </ul>
            }@else {
                <p>No students Available</p>
            }
    </div>
</div>