<mat-card class="form-container"> 
  <mat-card-title>Register a new {{title}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" class="login-form data-form">
      <mat-form-field>
        <input matInput type="number" name="id" placeholder="Id" formControlName="id">
        
        <mat-error *ngIf="id.errors != null && id.errors['required']">The id is mandatory.</mat-error>
        <mat-error *ngIf="id.errors != null && id.errors['min']">Id must to be a positive number.</mat-error>
        <mat-error *ngIf="id.errors != null && id.errors['requiredPattern']">Only numerical values are acepted.</mat-error>
         
      </mat-form-field>
        
      <mat-form-field>
        <input matInput  name="name" placeholder="Name" formControlName="name">
        <mat-error *ngIf="name.errors != null && name.errors['pattern']">Only letters are allowed.</mat-error>
         
      </mat-form-field>
      
      <mat-form-field>
        <input matInput  name="comments" placeholder="Comments" formControlName="comments">
        <mat-error *ngIf="comments.errors != null && comments.errors['maxlength']">Too long description.</mat-error>
        <mat-hint>Max 30 characters allowed.</mat-hint> 
      </mat-form-field>

      
      <button mat-raised-button   (click)="reset()"> Clear </button>

    <div><p>{{form.value | json}}</p></div>
    <div><p>{{form.valid | json}}</p></div>
    <div><p>{{comments.errors   |json}}</p></div>

    
    </form>

  </mat-card-content>
</mat-card>

<form>
    <table>
      <tr>
        <td><b>ID</b></td>
        <td>
          <input type="number" [(ngModel)]="recordTmp.id" type="text" name="idElement" /><br>
        </td>
      <tr>
        <td>
          <b>Customer Name</b>
        </td>
        <td>
          <input [(ngModel)]="recordTmp.name" type="text" name="name"/><br>
        </td>
      </tr>
      <tr>
        <td>  
          <b>Customer Amount</b>
        </td>
        <td>
          <input [(ngModel)]="recordTmp.comments"  type="text" name="comments" /><br>
        </td>
      </tr>
    </table>
    <!--<input [disabled]="!(myForm.valid)" (click)="Add()" type=button value="Add" />-->
    <div class="btnActions">
      <button mat-raised-button  (click)="PosttoServer()">Save</button>
      <button mat-raised-button>Update</button>
      <button mat-raised-button>Clean</button>
    </div>

</form>