.form-container{
    margin: 15px;
    
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
  }
  
.test-input {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
  }

.btnActions{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}