
<mat-toolbar color="primary" style="height: 60px;">
  <div class="imageContainer">
    <img src = "../assets/img/angular-logo.svg" alt="Angular Logo"/>
  </div>
  <span class="appTitle">My Application</span>
</mat-toolbar>

<div class="container">
  <div></div>
  <div>
    <mat-tab-group>
      <mat-tab label="Students"> 
        <div class="formsCenter">
          <app-student-form (studentEmitter)="receiveStudentRecord($event)" [recordSelected]="studentRecordTmp"></app-student-form>
          <table-component title='Students' [grid-colums]="studentColumns" [records]="studentsRecords" (recordEmitter)="studentSelectedRecord($event)" ></table-component>
        </div>    
      </mat-tab>
      <mat-tab label="Courses">
        <div class="formsCenter">
          <!--<register-component title='Course' (recordEmitter)="receiveCourseRecord($event)" [recordSelected]="courseRecordTmp" ></register-component>-->
          <table-component title='Courses' [grid-colums]="courseColumns" [records]="coursesRecords"(recordEmitter)="courseSelectedRecord($event)" ></table-component>
        </div>
      </mat-tab>
      <mat-tab label="Projects">
        <div class="formsCenter">
          <!--<register-component title='Project' (recordEmitter)="receiveProjectRecord($event)" [recordSelected]="projectRecordTmp" ></register-component>-->
          <table-component title='Projects' [grid-colums]="projectColumns" [records]="projectsRecords"(recordEmitter)="projectSelectedRecord($event)" ></table-component>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div></div>
</div> 




