<img src = "../assets/img/angular-logo.svg" alt="Angular Logo"/>

<button (click)="selectFn(1)">Students</button>
<button (click)="selectFn(2)">Courses</button>
<button (click)="selectFn(3)">Projects</button>

<div *ngIf="studentButton">
  <register-component title='Student' (recordEmitter)="receiveStudentRecord($event)" [recordSelected]="studentRecordTmp" ></register-component>
  <table-component title='Students' [records]="studentsRecords" (recordEmitter)="studentSelectedRecord($event)" ></table-component>
</div>

<div *ngIf="coursesButton">
  <register-component title='Course' (recordEmitter)="receiveCourseRecord($event)" [recordSelected]="courseRecordTmp" ></register-component>
  <table-component title='Courses' [records]="coursesRecords"(recordEmitter)="courseSelectedRecord($event)" ></table-component>
</div>

<div *ngIf="projectsButton">
  <register-component title='Project' (recordEmitter)="receiveProjectRecord($event)" [recordSelected]="projectRecordTmp" ></register-component>
  <table-component title='Projects' [records]="projectsRecords"(recordEmitter)="projectSelectedRecord($event)" ></table-component>
</div>