<div class="wrapper">
    <div class="firstCol">
        <div></div>
        <div class="divflex">
            <!--Courses List-->
            <mat-form-field>
                <mat-label>Select Project</mat-label>
                <mat-select  [(ngModel)]="selectedProject" (selectionChange)="selectionChange()" required="true">
                    <ng-container *ngFor="let project of projectsLst">
                        <mat-option [value]="project.id">{{project.id}} {{project.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>  
            <!--Available students List-->
            <mat-form-field>
                <mat-label>Select a Student</mat-label>
                <mat-select  [(ngModel)]="selectedStudent"   required="true">
                    <ng-container *ngFor="let student of availableStudentLst">
                        <mat-option [value]="student.id">{{student.id}} {{student.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <!--Button--> 
            <button mat-raised-button color="primary" type="submit" (click)="studentSelectedRecord()" >
            Save
            </button>  
        </div> 
        <div></div>
    </div>
    <div class="secondCol">
        <!-- Students Added -->
        <table-component title ="Students Added" 
                        [grid-colums]="studentAddedColumns" 
                        [records]="studentAddedLst" >
        </table-component>
        
    </div>
</div>